.spinnerContainer {
    position: relative;
    inline-size: 100%;
    block-size: 100%;
}

.spinner {
    position: absolute;
    inset: 50%;
    translate: -50% -50%;

    inline-size: 50px;
    block-size: 50px;
    border: 4px solid var(--surface-secondary);
    border-inline-start-color: var(--surface-accent);
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
