.article {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-inline-size: 928px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list {
    margin-block-start: 12px;
    padding-inline-start: 32px;
}
