.article {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-inline-size: 928px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.icons {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

.icons.rtl > svg {
    transform: scaleX(-1);
}
