:root {
    --surface-primary: #121417;
    --surface-secondary: #2b3036;
    --surface-accent: #b2c9e5;
    --text-primary: #e3e3e3;
    --text-secondary: #a3abb3;
    --text-accent: #7ab8ff;

    inline-size: 100%;
    block-size: 100%;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);

    color-scheme: dark;
    background-color: var(--surface-primary);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    inline-size: 100vw;
    block-size: 100%;
    min-block-size: 100vh;

    color-scheme: dark;
    background-color: var(--surface-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

#root {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    block-size: 100%;
}
